CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret
CLOUDINARY_CLOUD_NAME=api_cloud_name
FRONTEND_URL=https://example.com
JWT_SECRET=JwtSecretKey
MONGODB_URL=mongodb+srv://dbUser:dbPassword@clustor0.123456.mongodb.net/?appName=clustor0
