CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret
CLOUDINARY_CLOUD_NAME=api_cloud_name
FRONTEND_URL=https://example.com
HELP_CENTER_EMAIL=help@example.com
HELP_CENTER_PASSWORD=help_center_password
JWT_SECRET=JwtSecretKey
MONGODB_URL=mongodb+srv://dbUser:dbPassword@cluster0.123456.mongodb.net/chat_db?retryWrites=true&w=majority
PORT=5001
VAPID_PUBLIC_KEY=your_public_vapid_key
VAPID_PRIVATE_KEY=your_private_vapid_key
VITE_VAPID_PUBLIC_KEY=your_public_vapid_key
VITE_HELP_CENTER_EMAIL=help@example.com
